{{#if isSecondary}}
  <ul class="flex flex-wrap justify-center text-custom-600 gap-4 sm:gap-6 mt-6 sm:mt-12">
    {{#foreach navigation}}
      <li class="whitespace-nowrap"><a class="text-primary-500 font-bold" href="{{url absolute="true"}}">{{label}}</a></li>
    {{/foreach}}
  </ul>
{{else}}
  <ul class="menu p-0 menu-horizontal xl:flex gap-3 hidden">
    {{#foreach navigation}}
      <li class=""><a class="btn btn-secondary text-base-100" href="{{url absolute="true"}}">{{label}}</a></li>
    {{/foreach}}
  </ul>
  <div class="dropdown">
    <div tabindex="0" role="button" class="btn btn-secondary text-base-100 lg:hidden">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
    </div>
    <ul tabindex="0" class="menu menu-md dropdown-content mt-3 p-2 shadow bg-secondary text-base-100 rounded-box w-52 right-0 z-50">
        {{#foreach navigation}}
          <li class=""><a class="" href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
    </ul>
  </div>
{{/if}}
