{{!< default}}
<div class="grid gap-4 sm:gap-6">
  <div class="grid lg:grid-cols-2 gap-4 sm:gap-6">
    <div class="tile-group flex flex-col relative bg-cover bg-center rounded-3xl shadow-xl overflow-hidden animate-in ease-out fill-mode-both [animation-duration:500ms] post-hero bg-white max-sm:slide-in-from-bottom-6 lg:slide-in-from-bottom-8 max-sm:slide-in-from-bottom-8 max-sm:slide-in-from-bottom-10 lg:slide-in-from-bottom-12 slide-in-from-bottom-12 relative">
      <div class="bg-white shadow-xl z-10 h-full w-full rounded-3xl ghost-content relative flex flex-col">
        {{#get "pages" slug="hero" as |page|}}
          {{#page}}
            <div class="p-6 sm:p-12 lg:p-8 xl:p-10 2xl:p-12 grow">
              <h1 class="font-bold text-2xl text-primary mb-2">{{@site.title}}</h1>
              {{content}}
            </div>
            <img class="rounded-3xl w-full" src="{{feature_image}}" alt="">
          {{/page}}
        {{/get}}
      </div>
    </div>
    <div class="flex flex-col gap-4 sm:gap-6">
      <div class="grid grid-cols-4 gap-4 sm:gap-6">
        <div class="tile flex flex-col relative bg-cover bg-center rounded-3xl shadow-xl overflow-hidden animate-in ease-out fill-mode-both [animation-duration:500ms] post-tile-one aspect-square bg-white hover:scale-[1.02] has-[a:focus]:scale-[1.02] duration-200 transition-transform justify-end !justify-center !text-center max-sm:slide-in-from-bottom-6 lg:slide-in-from-bottom-8 max-sm:slide-in-from-bottom-8 max-sm:slide-in-from-bottom-10 lg:slide-in-from-bottom-12 slide-in-from-bottom-12">
          {{#get "pages" slug="tile-1" as |page|}}
            {{#page}}
            <div class="w-full h-full flex flex-row flex-end relative">
              <a href="{{excerpt}}" class="w-full h-full absolute top left z-50"></a>
              <img class="absolute top-0 bottom-0 left-0 right-0 size-full object-cover z-0" src="{{feature_image}}" alt="">
              <div class="relative mt-auto mx-auto mb-2">
                {{content}}
              </div>
            </div>
            {{/page}}
          {{/get}}
        </div>
        <div class="tile flex flex-col relative bg-cover bg-center rounded-3xl shadow-xl overflow-hidden animate-in ease-out fill-mode-both [animation-duration:500ms] post-tile-one aspect-square bg-white hover:scale-[1.02] has-[a:focus]:scale-[1.02] duration-200 transition-transform justify-end !justify-center !text-center max-sm:slide-in-from-bottom-6 lg:slide-in-from-bottom-8 max-sm:slide-in-from-bottom-8 max-sm:slide-in-from-bottom-10 lg:slide-in-from-bottom-12 slide-in-from-bottom-12">
          {{#get "pages" slug="tile-2" as |page|}}
            {{#page}}
            <div class="w-full h-full flex flex-row flex-end relative">
              <a href="{{excerpt}}" class="w-full h-full absolute top left z-50"></a>
              <img class="absolute top-0 bottom-0 left-0 right-0 size-full object-cover z-0" src="{{feature_image}}" alt="">
              <div class="relative mt-auto mx-auto mb-2">
                {{content}}
              </div>
            </div>
            {{/page}}
          {{/get}}
        </div>
        <div class="tile flex flex-col relative bg-cover bg-center rounded-3xl shadow-xl overflow-hidden animate-in ease-out fill-mode-both [animation-duration:500ms] post-tile-one aspect-square bg-white hover:scale-[1.02] has-[a:focus]:scale-[1.02] duration-200 transition-transform justify-end !justify-center !text-center max-sm:slide-in-from-bottom-6 lg:slide-in-from-bottom-8 max-sm:slide-in-from-bottom-8 max-sm:slide-in-from-bottom-10 lg:slide-in-from-bottom-12 slide-in-from-bottom-12">
          {{#get "pages" slug="tile-3" as |page|}}
            {{#page}}
            <div class="w-full h-full flex flex-row flex-end relative">
              <a href="{{excerpt}}" class="w-full h-full absolute top left z-50"></a>
              <img class="absolute top-0 bottom-0 left-0 right-0 size-full object-cover z-0" src="{{feature_image}}" alt="">
              <div class="relative mt-auto mx-auto mb-2">
                {{content}}
              </div>
            </div>
            {{/page}}
          {{/get}}
        </div>
        <div class="tile flex flex-col relative bg-cover bg-center rounded-3xl shadow-xl overflow-hidden animate-in ease-out fill-mode-both [animation-duration:500ms] post-tile-one aspect-square bg-white hover:scale-[1.02] has-[a:focus]:scale-[1.02] duration-200 transition-transform justify-end !justify-center !text-center max-sm:slide-in-from-bottom-6 lg:slide-in-from-bottom-8 max-sm:slide-in-from-bottom-8 max-sm:slide-in-from-bottom-10 lg:slide-in-from-bottom-12 slide-in-from-bottom-12">
          {{#get "pages" slug="tile-4" as |page|}}
            {{#page}}
            <div class="w-full h-full flex flex-row flex-end relative">
              <a href="{{excerpt}}" class="w-full h-full absolute top left z-50"></a>
              <img class="absolute top-0 bottom-0 left-0 right-0 size-full object-cover z-0" src="{{feature_image}}" alt="">
              <div class="relative mt-auto mx-auto mb-2">
                {{content}}
              </div>
            </div>
            {{/page}}
          {{/get}}
        </div>
      </div>
      <div class="tile-group flex flex-col relative bg-cover bg-center rounded-3xl shadow-xl overflow-hidden animate-in ease-out fill-mode-both [animation-duration:500ms] h-full bg-white max-sm:slide-in-from-bottom-8 lg:slide-in-from-bottom-8 max-sm:slide-in-from-bottom-10 lg:slide-in-from-bottom-12 slide-in-from-bottom-12">
        {{#get "pages" slug="section-1" as |page|}}
          {{#page}}
            <div class="section-1 flex flex-col p-6 sm:p-12 lg:p-8 xl:p-10 2xl:p-12 grow ghost-content">
              {{content}}
            </div>
          {{/page}}
        {{/get}}
      </div>
    </div>
  </div>
  <div class="grid grid-cols-2 lg:grid-cols-4 gap-4 sm:gap-6">
      {{#get "posts" filter="featured:true" limit="4" include="tags"}}
        {{#foreach posts}}
            {{> "post-card"}}
        {{/foreach}}
      {{/get}}
  </div>
  <div class="grid lg:grid-cols-2 gap-4 sm:gap-6">
    <div class="tile group/tile flex flex-col relative bg-cover bg-center rounded-3xl shadow-xl overflow-hidden animate-in ease-out fill-mode-both [animation-duration:500ms] post-section-one h-full bg-white slide-in-from-bottom-12">
      <div class="flex flex-col gap-4 sm:gap-6 z-30">
        {{#get "pages" slug="section-2" as |page|}}
          {{#page}}
            <img src="{{feature_image}}" alt="" class="h-full w-full">
          {{/page}}
        {{/get}}
      </div>
    </div>
    <div class="flex flex-col gap-4 sm:gap-6">
      <div class="grid grid-cols-2 gap-4 sm:gap-6">
          {{#get "pages" slug="tile-5" as |page|}}
            {{#page}}
              <div class="tile flex flex-col relative bg-cover bg-center rounded-3xl shadow-xl overflow-hidden animate-in ease-out fill-mode-both [animation-duration:500ms] post-style-guide aspect-square bg-white hover:scale-[1.02] has-[a:focus]:scale-[1.02] duration-200 transition-transform justify-end post slide-in-from-bottom-12">
                <a href="{{ excerpt }}" class="peer/href absolute top-0 bottom-0 left-0 right-0 z-50"></a>
                <div class="flex flex-row justify-end gap-2 absolute top-0 left-0 right-0 m-4 z-50 pointer-events-none *:pointer-events-auto opacity-85"></div>
                <picture class="absolute top-0 bottom-0 left-0 right-0 size-full object-cover">
                  <source 
                    class="absolute top-0 bottom-0 left-0 right-0 size-full object-cover"
                    srcset="
                    {{img_url feature_image size="xxs" format="avif"}} 30w,
                    {{img_url feature_image size="xs" format="avif"}} 100w,
                    {{img_url feature_image size="s" format="avif"}} 300w,
                    {{img_url feature_image size="m" format="avif"}} 600w,
                    {{img_url feature_image size="l" format="avif"}} 1200w,
                    {{img_url feature_image size="xl" format="avif"}} 2000w"
                    {{^if @first}}sizes="(min-width: 1200px) 1200px, 100vw)"{{else}}sizes="(min-width: 800px) 100vw, 700px"{{/if}}
                    type="image/avif"
                    {{^if @first}}loading="lazy"{{/if}}
                  >
                  <source 
                    class="absolute top-0 bottom-0 left-0 right-0 size-full object-cover"
                    srcset="
                    {{img_url feature_image size="xxs" format="webp"}} 30w,
                    {{img_url feature_image size="xs" format="webp"}} 100w,
                    {{img_url feature_image size="s" format="webp"}} 300w,
                    {{img_url feature_image size="m" format="webp"}} 600w,
                    {{img_url feature_image size="l" format="webp"}} 1200w,
                    {{img_url feature_image size="xl" format="webp"}} 2000w"
                    {{^if @first}}sizes="(min-width: 1200px) 1200px, 100vw)"{{else}}sizes="(min-width: 800px) 100vw, 700px"{{/if}}
                    type="image/webp"
                    {{^if @first}}loading="lazy"{{/if}}

                  >
                  <img
                    class="absolute top-0 bottom-0 left-0 right-0 size-full object-cover"
                    srcset="
                    {{img_url feature_image size="xxs"}} 30w,
                    {{img_url feature_image size="xs"}} 100w,
                    {{img_url feature_image size="s"}} 300w,
                    {{img_url feature_image size="m"}} 600w,
                    {{img_url feature_image size="l"}} 1200w,
                    {{img_url feature_image size="xl"}} 2000w"
                    {{^if @first}}sizes="(min-width: 1200px) 1200px, 100vw)"{{else}}sizes="(min-width: 800px) 100vw, 700px"{{/if}}
                    src="{{img_url feature_image size="m"}}"
                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                    class="gh-card-image"
                    {{^if @first}}loading="lazy"{{/if}}
                  >
                </picture>
                <div class="flex flex-col gap-4 sm:gap-6 p-4 sm:p-10 lg:p-6 xl:p-8 2xl:p-10 z-30">
                  {{ content }}
                </div>
              </div>
            {{/page}}
          {{/get}}
          {{#get "pages" slug="tile-6" as |page|}}
            {{#page}}
              <div class="tile flex flex-col relative bg-cover bg-center rounded-3xl shadow-xl overflow-hidden animate-in ease-out fill-mode-both [animation-duration:500ms] post-style-guide aspect-square bg-white hover:scale-[1.02] has-[a:focus]:scale-[1.02] duration-200 transition-transform justify-end post slide-in-from-bottom-12">
                <a href="{{ excerpt }}" class="peer/href absolute top-0 bottom-0 left-0 right-0 z-50"></a>
                <div class="flex flex-row justify-end gap-2 absolute top-0 left-0 right-0 m-4 z-50 pointer-events-none *:pointer-events-auto opacity-85"></div>
                <picture class="absolute top-0 bottom-0 left-0 right-0 size-full object-cover">
                  <source 
                    class="absolute top-0 bottom-0 left-0 right-0 size-full object-cover"
                    srcset="
                    {{img_url feature_image size="xxs" format="avif"}} 30w,
                    {{img_url feature_image size="xs" format="avif"}} 100w,
                    {{img_url feature_image size="s" format="avif"}} 300w,
                    {{img_url feature_image size="m" format="avif"}} 600w,
                    {{img_url feature_image size="l" format="avif"}} 1200w,
                    {{img_url feature_image size="xl" format="avif"}} 2000w"
                    {{^if @first}}sizes="(min-width: 1200px) 1200px, 100vw)"{{else}}sizes="(min-width: 800px) 100vw, 700px"{{/if}}
                    type="image/avif"
                    {{^if @first}}loading="lazy"{{/if}}
                  >
                  <source 
                    class="absolute top-0 bottom-0 left-0 right-0 size-full object-cover"
                    srcset="
                    {{img_url feature_image size="xxs" format="webp"}} 30w,
                    {{img_url feature_image size="xs" format="webp"}} 100w,
                    {{img_url feature_image size="s" format="webp"}} 300w,
                    {{img_url feature_image size="m" format="webp"}} 600w,
                    {{img_url feature_image size="l" format="webp"}} 1200w,
                    {{img_url feature_image size="xl" format="webp"}} 2000w"
                    {{^if @first}}sizes="(min-width: 1200px) 1200px, 100vw)"{{else}}sizes="(min-width: 800px) 100vw, 700px"{{/if}}
                    type="image/webp"
                    {{^if @first}}loading="lazy"{{/if}}

                  >
                  <img
                    class="absolute top-0 bottom-0 left-0 right-0 size-full object-cover"
                    srcset="
                    {{img_url feature_image size="xxs"}} 30w,
                    {{img_url feature_image size="xs"}} 100w,
                    {{img_url feature_image size="s"}} 300w,
                    {{img_url feature_image size="m"}} 600w,
                    {{img_url feature_image size="l"}} 1200w,
                    {{img_url feature_image size="xl"}} 2000w"
                    {{^if @first}}sizes="(min-width: 1200px) 1200px, 100vw)"{{else}}sizes="(min-width: 800px) 100vw, 700px"{{/if}}
                    src="{{img_url feature_image size="m"}}"
                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                    class="gh-card-image"
                    {{^if @first}}loading="lazy"{{/if}}
                  >
                </picture>
                <div class="flex flex-col gap-4 sm:gap-6 p-4 sm:p-10 lg:p-6 xl:p-8 2xl:p-10 z-30">
                  {{ content }}
                </div>
              </div>
            {{/page}}
          {{/get}}
      </div>
      <div class="section flex flex-col relative bg-cover bg-center rounded-3xl shadow-xl overflow-hidden animate-in ease-out fill-mode-both [animation-duration:500ms] post-section-two h-full bg-white slide-in-from-bottom-12">
        {{#get "pages" slug="section-3" as |page|}}
          {{#page}}
            <div class="p-6 sm:p-12 lg:p-8 xl:p-10 2xl:p-12 grow ghost-content">
              {{content}}
            </div>
          {{/page}}
        {{/get}}
      </div>
    </div>
  </div>
</div>