{{!< default}}
<div class="grid gap-4 sm:gap-6">
  <div class="grid lg:grid-cols-2 gap-4 sm:gap-6">
    <div class="relative">
      <div class="absolute left-0 top-0 h-full w-full rounded-3xl animated-border-box-glow"></div>
      <div class="absolute left-0 top-0 h-full w-full rounded-3xl animated-border-box"></div>
      <div class="bg-white z-10 h-full w-full rounded-3xl ghost-content relative">
        {{#get "pages" limit="1" filter="slug:hero"}}
            {{#foreach pages}}
              <div class="p-6 sm:p-12 lg:p-8 xl:p-10 2xl:p-12">
                <h1 class="font-bold text-2xl text-primary mb-2">{{@site.title}}</h1>
                {{content}}
              </div>
              <img class="rounded-3xl w-full" src="{{feature_image}}" alt="">
            {{/foreach}}
        {{/get}}
      </div>
    </div>
    <div class="grid lg:grid-rows-3gap-4 sm:gap-6">
      <div class="bg-white rounded-3xl">
        <h1 class="font-bold text-5xl">{{@site.description}}</h1>
        {{#get "pages" limit="1" filter="slug:home"}}
            {{#foreach pages}}
              <h2 class="font-bold text-xl mt-8">{{excerpt}}</h2>
            {{/foreach}}
        {{/get}}
        {{navigation type="secondary"}}
      </div>
    </div>
  </div>

  <div class="mb-8 mx-auto">
    <h3 class="font-bold text-6xl my-8">{{t "Important informations"}}</h3>
    <div class="gap-8 grid md:grid-cols-2 grid-cols-1">
      {{#get "posts" filter='featured:true' include='tags'}}
        {{#foreach posts}}
            {{> "post-card"}}
        {{/foreach}}
      {{/get}}
    </div>
  </div>

  <div class="xl:w-8/12 px-8 mx-auto ghost-content">
    {{#page}}
      {{content}}
    {{/page}}
  </div>
</div>
