{{!< default}}

    {{#post}}
    <article class="gh-article {{post_class}} flex flex-col">

        <header class="gh-header gh-canvas px-8 relative">
            {{#if feature_image}}
                <img
                    class="rounded-3xl w-full brightness-75"
                    srcset="
                    {{img_url feature_image size="xxs"}} 30w,
                    {{img_url feature_image size="xs"}} 100w,
                    {{img_url feature_image size="s"}} 300w,
                    {{img_url feature_image size="m"}} 600w,
                    {{img_url feature_image size="l"}} 1200w,
                    {{img_url feature_image size="xl"}} 2000w"
                    sizes="(min-width: 1200px) 1200px, 90vw" 
                    src="{{img_url feature_image size="l"}}"
                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                >
                </picture>

                <h1 class="gh-title absolute top-10 left-20 font-bold text-5xl text-white">{{title}}</h1>

                {{#if feature_image_caption}}
                    <figcaption>{{feature_image_caption}}</figcaption>
                {{/if}}

                <span class="gh-post-meta"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time> <span class="bull">&bull;</span> {{reading_time}}</span>
                
                {{#if custom_excerpt}}
                    <p class="gh-excerpt">{{custom_excerpt}}</p>
                {{/if}}
            {{/if}}
        </header>

        <div class="xl:w-8/12 px-8 mb-8 mx-auto">
            <div class="gh-content gh-canvas">
                {{content}}
            </div>

            <footer class="gh-footer gh-canvas">

                <div class="gh-post-authors">
                    Written by {{#foreach authors}}<a href="{{url}}">{{name}}</a>{{/foreach}}
                </div>

                {{#if comments}}
                <section class="gh-post-comments">
                    {{comments}}
                </section>
                {{/if}}

            </footer>
        </div>

    </article>
    {{/post}}

</div>
